/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
$min-width-large: "1281px";

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
$min-width-desktop: "1025px";
$max-width-desktop: "1280px";

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
$min-width-tablets: "768px";
$max-width-tablets: "1024px";

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

$min-width-mobiles: "481px";
$max-width-mobiles: "767px";

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
$min-width-small: "320px";
$max-width-small: "480px";

$media-large: "(min-width: " + $min-width-large + ")";
$media-desktop: "(min-width: " + $min-width-desktop + ") and (max-width: " +
  $max-width-desktop + ")";
$media-tablet-p: "(min-width: " + $min-width-tablets + ") and (max-width: " +
  $max-width-tablets + ")";
$media-tablet-l: "(min-width: " + $min-width-tablets + ") and (max-width: " +
  $max-width-tablets + ") and (orientation: landscape)";
$media-mobile: "(min-width: " + $min-width-mobiles + ") and (max-width: " +
  $max-width-mobiles + ")";
$media-small: "(min-width: " + $min-width-small + ") and (max-width: " +
  $max-width-small + ")";

@custom-media --small-only (width < 640px);
@custom-media --small-only-height (height < 640px);

@custom-media --medium-up (width > 641px);
@custom-media --medium-down (width < 641px);
@custom-media --medium-only (width > 641px) and (width < 1024px);
@custom-media --medium-up-height (height > 641px);
@custom-media --medium-down-height (height < 641px);
@custom-media --medium-only-height (height > 641px) and (height < 1024px);

@custom-media --large-up (width > 1025px);
@custom-media --large-down (width < 1025px);
@custom-media --large-only (width > 1025px) and (width < 1440px);
@custom-media --large-up-height (height > 1025px);
@custom-media --large-down-height (height < 1025px);
@custom-media --large-only-height (height > 1025px) and (height < 1440px);

@custom-media --xlarge-up (width > 1441px);
@custom-media --xlarge-down (width < 1441px);
@custom-media --xlarge-only (width > 1441px) and (width < 1920px);
@custom-media --xlarge-up-height (height > 1441px);
@custom-media --xlarge-down-height (height < 1441px);
@custom-media --xlarge-only-height (height > 1441px) and (height < 1920px);

@custom-media --xxlarge-up (width > 1921px);
@custom-media --xxlarge-down (width < 1921px);
@custom-media --xxlarge-only (width > 1921px) and (width < 9999999px);
@custom-media --xxlarge-up-height (height > 1921px);
@custom-media --xxlarge-down-height (height < 1921px);
@custom-media --xxlarge-only-height (height > 1921px) and (height < 9999999px);
